# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# PostgreSQL connection string
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/erplis_db?schema=public"

# Next.js App configuration
NEXT_PUBLIC_APP_NAME="ERP LIS Venezuela"
